<div [@routerTransition]>
    <h2 class="text-muted">Solution Challenge <small>2021</small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-tasks'"  [label]="'Solution Challenge 2021'" [routerLink]="'/sc2021'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-user-circle'" [count]="12" [label]="'Find Team mates'" [routerLink]="'/findteam'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-pencil'" [count]="124" [label]="'Blog'" [routerLink]="'/blog'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-google'" [count]="13" [label]="'About Us'" [routerLink]="'/about'" ></app-stat>
        </div>
    </div>
    <hr />
 
    <!-- start of comment
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div> end -->
                <!-- /.card-header -->
           <!-- start     <app-timeline></app-timeline> end-->
                <!-- /.card-body -->
          <!-- start  </div> end-->
            <!-- /.card -->
       <!--start </div> end-->
        <!-- /.col-lg-8 -->
      <!--start  <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div> end-->
                <!-- /.card-header -->
            <!--start    <app-notification></app-notification> end-->
                <!-- /.card-body -->
           <!--start </div> end-->
            <!-- /.card -->

        <!--start    <app-chat></app-chat> end-->
            <!-- /.card .chat-card -->
       <!--start </div> end-->
        <!-- /.col-lg-4 -->
    <!--start </div>
    end of comment -->



    <div class="foot-banner">
        <h2>Contact Us</h2>
        <p>Would love to hear from you</p>
    </div>
