.head-banner {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #DB4437;
    border-radius: 6px;
    padding: 60px;
}

.foot-banner {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}