<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="head-banner">
  <h1>Welcome to the DSC blog</h1>
  <p>Get the inside scoop on what's going on behind the scene</p>
</div>

<script>

$scope.posts = [
{
title:"Almonds are good for Health",
content:"Almonds contain high amounts of HDL which helps reduce cholestrol. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus quam leo,id tristique sapien viverra eu. Maecenas ipsum lectus, suscipit auctor tristique in, venenatis ut nisl. Quisque eget bibendum libero. Nam nec mi augue."
},
{
title:"Sugar is bad for health",
content:"Sugar besides being bad for diabetes, it also causes overweight and obesity problems. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus quam leo, id tristique sapien viverra eu. Maecenas ipsum lectus, suscipit auctor tristique in."
},
{
title:"Cut down your carbs!!!",
content:"Sugar besides being bad for diabetes, it also causes overweight and obesity problems.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus quam leo, id tristique  sapien viverra eu. Maecenas ipsum lectus, suscipit auctor tristique in, venenatis ut nisl. Quisque eget bibendum libero. Nam nec mi augue."
}

];



</script>

<div></div>

<h1>Articles</h1>
 <!-- <accordion>
   <accordion-group heading=" {{post.title}}" ng-repeat="post in posts">
         {{post.content}}
   </accordion-group>
</accordion>  -->

<div class="foot-banner">
  <h2>Footer</h2>
</div>

